<template>
  <section>
    <usuarioForm>
      <button @click.prevent="atualizarUsuario" class="btn">Atualizar Usuário</button>
    </usuarioForm>
    <ErroNotificacao :erros="erros" />
  </section>
</template>

<script>
import UsuarioForm from "@/components/UsuarioForm.vue";
import { ApiService } from "@/common/api.service.js";

export default {
  name: "UsuarioEditar",
  components: {
    UsuarioForm
  },
  data() {
    return {
      erros: []
    }
  },
  methods: {
    atualizarUsuario() {
      ApiService.put(`/usuario/${this.$store.state.user.usuario.id}`, this.$store.state.user.usuario).then(() => {
        this.$store.dispatch("user/getUsuario", this.$store.state.user.usuario.id)
        this.$router.push({name: "Usuario"})
      }).catch(error => {
        this.erros.push(error.response.data.message)
      })
    }
  },
  created() {
    document.title = "Usuario | Editar"
  }
};
</script>

<style>
</style>
