<template>
  <section>
    <div v-if="vendas">
      <h2>vendas</h2>
      <div class="produtos-wrapper" v-for="(venda, index) in vendas" :key="index">
        <ProdutoItem v-if="venda.produto" :produto="venda.produto">
          <p class="vendedor">
            <span>Comprador:</span>
            {{ venda.comprador_id }}
          </p>
        </ProdutoItem>
        <div class="entrega">
          <h3>Entrega</h3>
          <ul v-if="venda.endereco">
            <li v-for="(value, key) in venda.endereco" :key="key">{{ key }}: {{value}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import ProdutoItem from "@/components/ProdutoItem.vue";
import { ApiService } from "@/common/api.service.js";
import { mapState } from "vuex";

export default {
  name: "UsuarioVendas",
  data() {
    return {
      vendas: null
    };
  },
  components: {
    ProdutoItem
  },
  computed: {
    ...mapState("user", ["usuario", "login"])
  },
  watch: {
    login() {
      this.getVendas();
    }
  },
  methods: {
    getVendas() {
      ApiService.get(`/transacao?vendedor_id=${this.usuario.id}`).then(res => {
        this.vendas = res.data;
      });
    }
  },
  created() {
    document.title = "Usuario | Vendas"
    if (this.login) {
      this.getVendas();
    }
  }
};
</script>

<style scoped>
.produto-wrapper {
  margin-bottom: 40px;
}

.vendedor span {
  color: #e80;
}

h2 {
  margin-bottom: 20px;
}

.entrega {
  display: grid;
  grid-template-columns: minmax(100px, 200px) 1fr;
  grid-gap: 20px;
  margin-bottom: 60px;
}

.entrega h3 {
  margin: 0;
  justify-self: end;
}

@media screen and (max-width: 500px) {
  .entrega {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .entrega h3 {
    margin: 0;
    justify-self: start;
  }
}
</style>
