<template>
  <section>
    <h2>Crie a Sua Conta</h2>
    <transition mode="out-in">
      <button v-if="criar == false" class="btn criar" @click="criar = true">Criar Conta</button>
      <UsuarioForm v-else>
        <button type="submit" @click.prevent="createUser" class="btn">Cadastrar</button>
      </UsuarioForm>
      <ErroNotificacao :erros="erros" />
    </transition>
  </section>
</template>

<script>
import UsuarioForm from "@/components/UsuarioForm.vue";

export default {
  name: "LoginCriar",
  components: {
    UsuarioForm
  },
  data() {
    return {
      criar: false,
      erros: []
    };
  },
  methods: {
     async createUser() {
      try {
        await this.$store.dispatch("user/createUser", this.$store.state.user.usuario)
        await this.$store.dispatch("user/loginUser", this.$store.state.user.usuario)
        await this.$store.dispatch("user/getUsuario", this.$store.state.user.usuario)
        this.$router.push({name: "Usuario"})
      } catch(error) {
        this.erros.push(error.response.data.message)
      }
    }
  }
};
</script>

<style scoped>
h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.btn {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
</style>
