<template>
  <p>Pagina não encontrada !
  </p>
</template>

<script>
export default {
  name: "NotFoundComponent"
}
</script>

<style scoped>
  p {
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
  }
</style>