<template>
  <section class="produtos-container">
    <transition mode="out-in">
      <div v-if="produtos && produtos.length > 0" class="produtos" key="produtos">
        <div class="produto" v-for="(produto,index) in produtos" :key="index">
          <router-link :to="`/produto/${produto.id}`">
            <img
              v-if="produto.fotos"
              :src="produto.fotos ? produto.fotos[0].src : '' "
              :alt="produto.fotos ? produto.fotos[0].titulo : ''"
            />
            <h2 class="titulo">{{produto.nome}}</h2>
            <p class="preco">{{produto.preco | numeroPreco}}</p>
            <p class="descricao">{{produto.descricao}}</p>
          </router-link>
        </div>
        <!--produto-->
        <ProdutosPaginar :produtosTotal="produtosTotal" :produtosPorPagina="produtosPorPagina" />
      </div>
      <!--produtos-->
      <div v-else-if="produtos && produtos.length === 0" key="sem-resultado">
        <p class="sem-resultados">Busca sem resultados. Tente buscar outro termo.</p>
      </div>
      <div v-if="produtos == null"  key="loading">
        <PaginaCarregando />
      </div>
    </transition>
  </section>
  <!--produtos--container-->
</template>

<script>
import { ApiService } from "@/common/api.service.js";
import { serialize } from "@/common/helpers.js";
import ProdutosPaginar from "./ProdutosPaginar.vue";

export default {
  name: "ProdutosLista",
  components: {
    ProdutosPaginar
  },
  data() {
    return {
      produtos: null,
      produtosPorPagina: 9,
      produtoURL: "produto/",
      produtosTotal: 0
    };
  },
  computed: {
    url() {
      const query = serialize(this.$route.query);
      return `?_limit=${this.produtosPorPagina}" + ${query}`;
    }
  },
  watch: {
    url() {
      this.getProdutos();
    }
  },
  methods: {
    getProdutos() {
      this.produtos = null;
      ApiService.get(this.produtoURL + this.url).then(response => {
        window.setTimeout(() => {
          this.produtos = response.data;
          this.produtosTotal = Number(response.headers["x-total-count"]);
        }, 500);
      });
    }
  },
  created() {
    this.getProdutos();
  }
};
</script>

<style scoped>
.produtos-container {
  max-width: 1000px;
  margin: 0 auto;
}

.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 30px;
}

@media screen and (max-width: 500px) {

  .produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 10px;
  }

}

.produto {
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  padding: 10px;
  background: #fff;
  border-radius: 4px;
  transition: all 0.2s;
}

.produto:hover {
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.produto img {
  border-radius: 4px;
  margin-bottom: 20px;
}

.titulo {
  margin-bottom: 10px;
}

.preco {
  color: #e80;
  font-weight: bold;
}

.sem-resultados {
  text-align: center;
  margin-top: 30px;
}


</style>
